@model QuizTask.Models.TestLink

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}
<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="breadcrumbs-top">
            <h5 class="content-header-title float-left pr-1 mb-0">Career Lavel </h5>
            <div class="breadcrumb-wrapper d-none d-sm-block">
                <ol class="breadcrumb p-0 mb-0 pl-1">
                    <li class="breadcrumb-item">
                        <a href="index"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="index">Index</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a>Delete</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Delete Department</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                Candidate Name
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CandidateDetail.Name)
                            </dd>
                            <dt class="col-sm-2">
                                Link
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Candidate_TestLink)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.StartDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EndDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                     
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="TestLinkId" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

