@model IEnumerable<QuizTask.Models.TestLink>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="content-body">
    <!-- Zero configuration table -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Test Link List</h5>
                        <a style="float:right" class="btn btn-primary" asp-action="Create">
                            <i class="bx bx-plus-medical"></i>
                        </a>
                    </div>
                    <div class="card-body card-dashboard">

                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Link ID</th>
                                        <th>Candidate Name</th>
                                        <th>Candidate Link</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.TestLinkId</td>
                                            <td>@item.CandidateDetail.Name</td>
                                            <td><a href="@item.Candidate_TestLink" class="nav-link">https://localhost:7283/startQuiz?candidate="@item.CandidateDetail.Name"</a></td>
                                            <td>@item.StartDate</td>
                                            <td>@item.EndDate</td>
                                            <td>@item.Status</td>                                     

                                            <td>
                                                <a asp-action="Edit" class="btn btn-success  btn-sm" asp-route-id="@item.TestLinkId">Edit</a>
                                                <a asp-action="Details" class="btn btn-info  btn-sm" asp-route-id="@item.TestLinkId">Details</a>
                                                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.TestLinkId">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Zero configuration table -->

</div>


