@model IEnumerable<QuizTask.Models.CandidateDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="content-body">
    <!-- Zero configuration table -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Candidate List</h5>
                        <a style="float:right" class="btn btn-primary" asp-action="Create">
                            <i class="bx bx-plus-medical"></i>
                        </a>
                    </div>
                    <div class="card-body card-dashboard">

                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Candidate Name</th>
                                        <th>Careel level</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Gender</th>
                                        <th>Pic</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.CareerLevel.CareerName</td>
                                            <td>@item.Candidate_Email</td>
                                            <td>@item.Mobile_No</td>
                                            <td>@item.Gender</td>
                                            <td><img class="round" src="/images/@item.Pic" alt="avatar" height="50" width="50"></td>

                                            <td>
                                                @if (item.IsActive == true)
                                                {
                                                    @Html.Raw("Active")
                                                }
                                                else
                                                {
                                                    @Html.Raw("Deactive")
                                                }
                                            </td>

                                            <td>
                                                <a asp-action="Edit" class="btn btn-success  btn-sm" asp-route-id="@item.CandidateID">Edit</a> |
                                                <a asp-action="Details" class="btn btn-info  btn-sm" asp-route-id="@item.CandidateID">Details</a> |
                                                <a asp-action="Delete" class="btn btn-danger  btn-sm" asp-route-id="@item.CandidateID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Zero configuration table -->

</div>


